<!Doctype html>
<html >
  <body>
    <div class="ui-modal">
        <div class = "modal-content">
          <i class = "fa fa-times" ng-click = "closeModal()"></i>
          <div class="sandramodal-title">Les critères de la tâche selon Ellis (2003, p.9-10)</div>
          <div class="sandramodal-content">
            <p style="text-align:center;">
                <blockquote class ="sandrablockquote">
                  <ol>
                  <li>Une tâche est un plan de travail.</li>
                  <li>Une tâche implique que la priorité soit donnée au sens.</li>
                  <li>Une tâche implique des processus d'utilisation du langage similaire à ceux du monde réel.</li>
                  <li>Une tâche peut impliquer l'une ou l'autre des quatre compétences langagières.</li>
                  <li>Une tâche demande la mise en œuvre de processus cognitifs.</li>
                  <li>Une tâche a un résultat communicatif clairement défini.</li>
                </ol><cite>traduite par Ollivier et Puren, 2011, p. 52</cite> </blockquote>
            </p>
        </div>
    </div>
  </body>
</html>
