<!Doctype html>
<html >
  <body>
    <div class="ui-modal">
        <div class = "modal-content">
          <i class = "fa fa-times" ng-click = "closeModal()"></i>
          <div class="sandramodal-title">Exemples</div>
          <div class="sandramodal-content">
            <p style="text-align:center;">
            <h3>tâche de répétition</h3>
            <p>Écrire une lettre à ton cousin qui habite en France (situation imaginaire). Donner des nouvelles sur ta famille.</p>
            <h3>tâche communicative pédagogique</h3>
            <p>Trouver les différences entre deux images</p>
            <p>(Ellis, 2003, p. 351)</p>
        </div>
    </div>
  </body>
</html>
