<!Doctype html>
<html >
  <body>
    <div class="ui-modal">
        <div class = "modal-content">
          <i class = "fa fa-times" ng-click = "closeModal()"></i>
          <div class="sandramodal-title">Exemples</div>
          <div class="sandramodal-content">
            <p style="text-align:center;">
            <h3>tâche cible</h3>
            <p>Écrire une carte postale à un "ami"</p>
            <h3>tâche communicative pédagogique</h3>
            <p>Trouver les différences entre deux images</p>
            </p>
        </div>
    </div>
  </body>
</html>
