<!Doctype html>
<html >
  <body>
    <div class="ui-modal">
        <div class = "modal-content">
          <i class = "fa fa-times" ng-click = "closeModal()"></i>
          <div class="modal-title">La méthode Gendermag</div>
          <div class="modal-content">
            <div class="quote hci-quote">
              <p>« Definition: The GenderMag method is an analytical method for evaluating software <br>
               (i) according to the following five facets of gender differences: motivation, information processing style, computer self-efficacy, risk aversion and tinkering;
               <br>(ii) which are encapsulated into a set of faceted personas, each of which has a gender and has research-based facet values for all five facets;
               <br>(iii) using a gender-specialized [cognitive walkthrough] process that integrates references to the facets and to the selected persona throughout. »
              </p>
            </div>
            <p>Comme définit ci-dessus, le système d'évaluation Gendermag, dont trois personas détaillés sont une composante intégrale, vise d'encourager la création du logiciel qui se convient aux besoins et aux auto-perceptions de toutes utilisateurs. Burnett et al. expliquent bien pourquoi cette recherche porte sur la question de genre:</p>
            <div class="quote hci-quote">
              <p>« In recent years, research into gender differences has established that individual differences in how people problem-solve often cluster by gender. Research also shows that these differences have direct implications for software that aims to support users’ problem-solving activities, and that much of this software is more supportive of problem-solving processes favored (statistically) more by males than by females »</p>
            </div>
            <div id="margaret_vid" class="modal-vid">
              <p>Voici une vidéo de la créatrice de Gendermag, Margaret Burnett, qui décrit la méthode en plus de détaille.</p>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/6HYvp5GrPjU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="ref-section">
              <p class="ref-item">
                <a href="https://ieeexplore.ieee.org/abstract/document/8154509" target="_blank">[1]</a>
                Burnett, M., Stumpf, S., Macbeth, J., Makri, S., Beckwith, L., Kwan, I., ... & Jernigan, W. (2016). GenderMag: A method for evaluating software's gender inclusiveness. Interacting with Computers, 28(6), 760-787.
              </p>
            </div>
          </div>
        </div>
    </div>
  </body>
</html>
