<!Doctype html>
<html >
  <body>
    <div class="ui-modal">
        <div class = "modal-content">
          <i class = "fa fa-times" ng-click = "closeModal()"></i>
          <div class="modal-title">Les modèles markov</div>
          <div class="modal-content">
            <div id="intro_vid" class="modal-vid">
              <p>Ce video (en anglais) décrit en général à quoi servent les modèles markov:</p>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/kqSzLo9fenk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div id="foundations_vid" class="modal-vid">
              <p>Ce video (en français) décrit les éléments mathématiques:</p>
              <iframe width="560" height="315" src="https://www.youtube.com/embed/SGmMIEMJYwg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
        </div>
    </div>
  </body>
</html>
