<!Doctype html>
<html >
  <body>
    <div class="ui-modal">
        <div class = "modal-content">
          <i class = "fa fa-times" ng-click = "closeModal()"></i>
          <div class="modal-title">Les réseaux de neurones</div>
          <div class="modal-content">
            <p>Wikipédia offre enfin une description claire et succinct des réseaux de neurones:</p>
            <div class="quote ai-quote">
              <p>« Un réseau de neurones artificiels, ou réseau neuronal artificiel, est un système dont la conception est à l'origine schématiquement inspirée du fonctionnement des neurones biologiques, et qui par la suite s'est rapproché des méthodes statistique »</p>
              <div id="nn-overview" class="modal-vid">
                <p>Ce vidéo propose un survole très accessible de comment fonctionnent les réseaux de neurones.</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/T-wpJPZV8io" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              <p>Si vous voulez mieux comprendre les fondements mathématiques, je vous suggère <span class="emphas"><a href="https://mattmazur.com/2015/03/17/a-step-by-step-backpropagation-example/" target="_blank">ce blog</a></span>, qui illustre chaque étape du processus avec un exemple.</p>
            </div>
          </div>
        </div>
    </div>
  </body>
</html>
