<!Doctype html>
<html >
  <body>
    <div class="ui-modal">
        <div class = "modal-content">
          <i class = "fa fa-times" ng-click = "closeModal()"></i>
          <div class="sandramodal-title">Outils et applications utilisés</div>
          <div class="sandramodal-content">
            <p style="text-align:center;">
          <ul>
            <li><a href="https://slack.com">Slack</a></li>
            <li><a href="https://github.com">GitHub</a></li>
            <li><a href="https://atom.io">Atom</a></li>
            <li><a href="https://web.hypothes.is">Hypothesis/a></li>
            <li><a href="http://twinery.org">Twine</a></li>
            <li><a href="https://www.microsoft.com/en-ca/">Microsoft PowerPoint</a><li>
            <li><a href="https://www.zotero.org">Zotero</a></li></ui>                

        </div>
    </div>
  </body>
</html>
