<!Doctype html>
<html ng-app="fran502" ng-controller="ctrl">
 <head>
  <title>Fran502</title>
  <link rel="shortcut icon" type="image/png" href="styling/img/uvic-logo.png"/>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css">
  <script src="./js/ui-bootstrap-tpls-2.5.0.min.js"></script>
  <script type="text/javascript" src="./js/slick.js"></script>
  <script type="text/javascript" src="./js/carousel.js"></script>
  <script type="text/javascript" src="./js/angular-scroll.min.js"></script>
  <script type="text/javascript" src="./js/app.js"></script>
  <link rel="stylesheet" href="styling/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="styling/main.css">
 </head>
 <body>
   <div  class="side-nav" ng-show="model.navVisible" ng-cloak>
     <i class="menu-toggle" ng-class= "model.navVisible? 'fa fa-angle-left': 'fa fa-angle-right'" ng-click="nav_toggle()" click-elsewhere= "nav_off()" style="float: right"></i>
     <div id="main-menu">
      <div id="home-anchor" ng-style="{'opacity': model.navVisible? 1 : 0}"><a href="#!"><img id="menu-logo" src= 'styling/img/martlet.png' ></a></div>
      <menu ng-repeat="item in model.apprenants" ng-class="model.navVisible? 'menu-wrapper' : ''">
        <a href="{{item.link}}" ng-show="model.navVisible" class="menu-item">{{item.title}}</a>
      </menu>
     </div>
   </div>
   <ng-view class="col-md-10 col-md-offset-1 fade-anim"><ng-view/>
 </body>
 </html>
