<!Doctype html>
<html>
  <body>
    <div class="page-acceil">
      <div class="title-header">
        <p class="titre">Acceuil</p>
        <p class="sous-titre">FRAN 502 : Studies in French Applied Linguistics
        <p class="sous-titre">Université de Victoria
      </div>
      <div class="main-content"><br><br>
        <p><b>Bonjour et bienvenue à notre site web!</b></p>
        <p>Nous sommes un groupe d'étudiantes de français du premier et du deuxième cycle à l'université de Victoria, C-B, Canada.</p>
        <p>Dans le cadre du cours FRAN 502, nous avons toutes choisi d'approfondir, à fur est à mesure du semestre, nos connaissances d'un aspect de l'intégration de la technologie dans la salle de classe FLE. Vous trouveriez ici des descriptions de nos recherches et parcours individuelles.</p>
        <p>Vous pouvez également suivre notre cheminement au sein de <a href="https://twitter.com/search?src=typd&q=%23fran502uvic&lang=fr" target="_blank">Twitter</a>!</p>
        <p>Merci d'avoir visité le site et bonne lecture!</p>
        <div class="profiles">
          <div class="col-md-12" id="group1">
            <div class="prof"><img class="prof-img" src="./styling/img/profiles/catherine.jpg" title="Dr Catherine Caws"></div>
            <div class="prof"><img class="prof-img" src="./styling/img/profiles/rachel.jpg" title = "Rachel Corwin"></div>
            <div class="prof"><img class="prof-img" src="./styling/img/profiles/sandra.jpg" title ="Sandra Justice"></div>
            <div class="prof"><img class="prof-img" src="./styling/img/profiles/pamela.jpg" title = "Paméla Fraser"></div>
          </div>
          <div class="col-md-10 col-md-offset-1" id="group2">
            <div class="prof"><img class="prof-img" src="./styling/img/profiles/francesca.jpg" title="Francesca Jackman"></div>
            <div class="prof"><img class="prof-img" src="./styling/img/profiles/ryleigh.jpg" title= "Ryleigh Lightbourn"></div>
            <div class="prof"><img class="prof-img" src="./styling/img/profiles/anna.jpg" title="Anna Sollazzo"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
