<!Doctype html>
<html>
  <body>
    <div class="page-acceil">
      <div class="title-header">
        <p class="titre">Acceuil</p>
        <p class="rachelsous-titre">FRAN 502 : Studies in French Applied Linguistics>
        <p class="rachelsous-titre">Université de Victoria>
      </div>
      <div class="main-content">
        <p>Bonjour aux visiteurs du site. Vous allez trouver sur les pages du site Web un rapport final des étudiantes du cours FRAN 502 à l’Université de Victoria. Au fur est à mesure du semestre, les six étudiantes du cours ont choisi un sujet lié à l’intégration de la technologie dans la salle de classe. Ce site Web présente le parcours de leurs recherches. Merci d’avoir visité le site et bonne lecture !</p>
      </div>
    </div>
  </body>
</html>
