<!Doctype html>
<html>
  <body>
    <div class="page-acceil">
      <div class="title-header">
        <p class="titre">Francesca</p>
        <p class="sous-titre">L'anxiété langagière</p>
      </div>
      <div class="main-content">
        </p>
        <p> L’anxiété langagière est un état relié directement au processus de l’acquisition d’une langue seconde (Jebali, 2018). Puisqu’il comprend les auto-perceptions, les croyances, les sentiments et les comportements d’un apprenant (Horwitz et al., 1986), l’anxiété langagière peut inférer avec plusieurs processus y compris ceux d’encodage, de stockage et de récupération (MacIntyre, 1995). Alors, plus l’anxiété est débilitante, plus il y a de chances d’erreurs, du non-emploi de certaines formes et même d’une absence de la cohésion du discours (Tóth, 2010). Cependant, des études précédentes (voir Abrams, 2003 ; Roed, 2003 entre autres) suggèrent que l’emploi des technologies éducatives réduira l’anxiété langagière et donc ses effets débilitants. Cet article illustre une étude empirique qui a pour but d’évaluer le rôle de la communication médiée par les technologies par rapport à l’anxiété langagière selon une tâche orale complexe : l’élicitation des clitiques objets.
        </P>
      </div>
    </div>
  </body>
</html>
