<!Doctype html>
<html>
  <head><meta charset = "utf-8"> <link rel ="stylesheet" href = "main.css"> <link href="https://fonts.googleapis.com/css?family=Sarabun" rel="stylesheet">
  </head>
  <body>
    <div class="page-acceil">
      <div class="title-header">
        <p class="francescatitre">Francesca Jackman</p>
        <p class="francescasous-titre">L'anxiété langagière et la CMT</p>
      </div>
      <div class="francescamain-content">
        </p>
        <div>
        </div>
        <p style="text-align:center;"> <img src="/projet/styling/img/FJH1.png" width="100%" height="auto"></p>
        <div>
        </div>
        <p> Comme apprenant de français en tant qu’une langue seconde, j’avais la plus de difficulté à gérer mon anxiété langagière lors des conversations face à face, surtout avec les locuteurs français natifs. Puisque les conversations face à face se déroulent de façon spontanée, je m’inquiétais souvent de la qualité et la forme de mes répliques, ainsi qu’une évaluation négative de la part de mon interlocuteur. Bien que mon anxiété langagière ne fût pas débilitante jusqu’au point où je n’ai pas pu persévérer, j’aurais profité des affordances de la CMT en tant qu’un moyen de constituer la compétence communicative dans un environnement moins anxiogène. </p>
        <p> À cause de mon rapport personnel avec le phénomène d’anxiété langagière, en bas vous trouverez une série d’entrées qui documentent mon parcours d’apprentissage par rapport à ce sujet. Les études consultées explorent la relation favorable entre la CMT et l’anxiété langagière. J’espère que ce que je soulève ci-dessous suscite la réflexion ainsi que la discussion autour du rapport possible entre ces deux éléments qui font souvent partie de l’apprentissage d’une langue seconde ou étrangère. Enfin, peut-être que les notions abordées peuvent offrir des perspectives importantes à ceux au milieu scolaire, surtout les enseignants de langue. </p>
        <p>Je vous remercie de votre intérêt à ce sujet et je vous souhaite une bonne lecture ! </p>

        <div><b>Francesca Jackman</b></div>
        <div>Étudiante de maîtrise en littérature, langue et culture de la Francophonie</div>
        <div>Département de français</div>
        <div>Université de Victoria</div>
      </div>
    </div>
  </body>
</html>
