<!Doctype html>
<html>
  <head><meta charset = "utf-8"> <link rel ="stylesheet" href = "main.css"> <link href="https://fonts.googleapis.com/css?family=Sarabun" rel="stylesheet">
  </head>
  <body>
    <div class="page-acceil">
      <div class="title-header">
        <p class="francescatitre">Francesca Jackman</p>
        <p class="francescasous-titre">L'anxiété langagière et la CMT</p>
      </div>
      <div class="francescamain-content">
        </p>
      <br></br>
      <p style="text-align:center;"> <img src="/projet/styling/img/FJH1.png" width="100%" height="auto"></p>
        <br></br>
        <p> Comme apprenant de français en tant qu’une langue seconde, j’avais la plus de difficulté à gérer mon anxiété langagière lors des conversations face à face, surtout avec les locuteurs français natifs. Puisque les conversations face à face se déroulent de façon spontanée, je m’inquiétais souvent de la qualité et la forme de mes répliques, ainsi qu’une évaluation négative de la part de mon interlocuteur. Bien que mon anxiété langagière ne fût pas débilitante jusqu’au point où je n’ai pas pu persévérer, j’aurais profité des affordances de la CMT en tant qu’un moyen de constituer la compétence communicative dans un environnement moins anxiogène. </p>
        <p> À cause de mon rapport personnel avec le phénomène d’anxiété langagière, en bas vous trouverez une série d’entrées qui documentent mon parcours d’apprentissage par rapport à ce sujet. Les études consultées explorent la relation favorable entre la CMT et l’anxiété langagière. J’espère que ce que je soulève ci-dessous suscite la réflexion ainsi que la discussion autour du rapport possible entre ces deux éléments qui font souvent partie de l’apprentissage d’une langue seconde ou étrangère. Enfin, peut-être que les notions abordées peuvent offrir des perspectives importantes à ceux au milieu scolaire, surtout les enseignants de langue. </p>
        <p>Je vous remercie de votre intérêt à ce sujet et je vous souhaite une bonne lecture ! </p>

        <div><b>Francesca Jackman</b></div>
        <div>Étudiante de maîtrise en littérature, langue et culture de la Francophonie</div>
        <div>Département de français</div>
        <div>Université de Victoria</div>
      </div>
      <div>
      <br></br>
      <p style="text-align:center;"> <img src="/projet/styling/img/FJH2.png" width="100%" height="auto"></p>
      <br></br>
      <p> Comme l’anxiété langagière est un état relié à l’apprentissage des langues qui affecte la plupart des apprenants de langues secondes et étrangères (Horwitz et al., 1986 ; Jebali, 2018), je trouvais le principe de l’étude de Jebali (2018) très pertinente lorsque je commençais à aborder le rapport entre l’anxiété langagière et la communication médiée par la technologie (CMT). Cependant, la méthodologie de son étude m’a piqué l’intérêt puisque je n’aurais pas eu l’impression qu’utiliser la production des pronoms clitiques pour mesurer le taux d’anxiété langagière des apprenants de français langue seconde (FL2) permettra un aperçu complet de cet obstacle quant à la communication. </p>

      <p> D’ailleurs, l’auteur suscite la production des pronoms clitiques selon deux types de tâches – la tâche traditionnelle, où l’apprenant est montré des images représentant des personnes qui font des actions aux objets, et la tâche actionnelle, où l’expérimentateur performe une action sur un objet tangible devant l’apprenant. Dans les deux situations, après avoir aperçu l’action, l’expérimentateur pose une question qui la concerne en estimant la production d’un pronom clitique de la part de l’apprenant comme réponse. D’après Pirvulescu et Hill (2012), le fait d’inclure les deux types de tâches minimise le risque d’omission du pronom clitique. Néanmoins, cette dimension de l’étude me semble problématique puisque l’accent est mis sur la tâche qui suscite le plus de production des pronoms clitiques ainsi que l’environnement qui est le moins anxiogène pour l’apprenant de FL2. Je me demande alors, quel est l’objectif principal de cette recherche ?</p>

      <p> Cette étude considère aussi l’anxiété langagière d’une façon plus globale dans le sens qu’elle n’isole pas l’appréhension à communiquer (une composante de l’anxiété langagière qui est presque toujours isolée dans les études précédentes) des deux autres composantes – la crainte d’une évaluation négative et l’anxiété liée aux examens (Horwitz et al., 1986 ; Spetz, 2018). Bien que les tâches ne fassent pas partie d’un examen, l’activité proposée aux apprenants a l’air d’un test de compréhension orale selon le style question-réponse avec un interlocuteur inconnu. Ainsi, puisque l’activité n’est pas entre paires, l’expérimentateur, qui représente une tierce personne, peut inciter une crainte d’une évaluation négative parmi les apprenants de FL2. </p>

      <p> Lorsqu’on examine la CMT d’une façon plus probante, la communication par Skype peut être jugée trop semblable à la communication face à face. Les deux moyens de communication comprennent une conversation audiovisuelle avec un interlocuteur, la différence principale étant la présence ou l’absence d’un écran. Pourtant, il est surprenant que Jebali (2018) souligne que la CMT fournit l’environnement le moins anxiogène pour l’apprenant selon l’échelle FLCAS (développée par Horwitz et al. en 1986) et la production des pronoms clitiques incités par des tâches actionnelles. Je me demande si c’était plutôt la tâche qui contribuait à une réduction d’anxiété langagière parmi les apprenants au lieu de la CMT elle-même. </p>

      <p> Toutefois, l’étude de Jebali (2018) m’a fait réfléchir sur plusieurs aspects du phénomène de l’anxiété langagière. D’abord, je me suis demandée comme apprenante de FL2 moi-même, avais-je de l’anxiété langagière en particulier par rapport à la production des pronoms clitiques à l’oral ?  De plus, il m’intéresse de savoir si les études précédentes éclairaient que la CMT est plus bénéfique pour un type de tâche plutôt qu’un autre. Par exemple, aurait-il une différence plus significative entre la CMT et la communication face à face lorsque la discussion soit libre au lieu de centrée sur une tâche précise ? De toute façon, cette étude m’a initié à faire une recherche plus approfondie sur la relation entre la CMT et l’anxiété langagière dans des contextes divers, selon les variables différentes. </p>

      <p> <H2> <b> Références </b> </H2> </p>
      <ul>
        <li>Horwitz, E. K., Horwitz, M. B. & Cope, J. (1986). Foreign-Language Classroom Anxiety. <i> Modern Language Journal, 70 </i>(2), 125–132. Récupéré de https://www.jstor.org/stable/327317?seq=1#page_scan_tab_contents</li>
        <li>Jebali, A. (2018). Anxiété langagière, communication médiée par les technologies et élicitation des clitiques objets du français L2. <i>Apprentissage des Langues et Systèmes d’Information et de Communication, 21 </i>(1). https://doi.org/10.4000/alsic.3164 </li>
        <li>Pirvulescu, M. et Hill, V. (2012). Object clitic omission in French-speaking children: effects of the elicitation task. <i>Language Acquisition, 19 </i>(1), 73-81.</li>
        <li>Spetz, H. (2018). <i>L’anxiété langagière et la production orale : Une étude sur les étudiants suédois de français langue étrangère à l’université</i> (Thèse de mémoire, Université de Stockholm, Stockholm, Suède). Récupéré de https://su.diva-portal.org/smash/get/diva2:1222877/FULLTEXT01.pdf </li>
      </ul>
    </div>
    <div>


    </div>
  </body>
</html>
