<!Doctype html>
<html>
<head>
  <link rel = "stylesheet" href= "pamela.css">
</head>
  <body>
    <div class="page-acceil">
      <div class="title-header">
        <p class="titre">Paméla Fraser</p>
        <p class="sous-titre">Les avantages du récit numérique en salle de classe français L2</p>
      </div>
      <div class="main-content">
        <hr />
        <div>
          <br><br/>
          <p>Bonjour à tous! 🙋‍♀️ Je m'appelle Paméla Fraser et je suis une étudiante de maîtrise à l'Université de Victoria. Entre décembre 2018 et février 2019,
            j'ai suivi le cours FRAN 502 : Apprentissage et enseignment du français en contexte numérique : théories et pratiques enseigné par Dr. Caws.
            Ce qui suit est un rapport d'étonnement face à mon parcours dans le 502. Plus précisément, je vais traiter de ma recherche sur les récits
            numériques.</p>
            <br><br/>
        <p>	<h3> Ma motivation + mon inspiration pour ce projet 💫 </h3> </p>
        <p> J’ai reçu la suggestion de Dr. Caws que le scénario pédagogique serait un bon sujet de recherche pour notre cours.
           Par contre, en lisant l’article de Nelson, “Mode, Meaning, and Synaesthesia in Multimédia L2 Writing”, j’ai réussi à trouver une manière
          de compliquer ce sujet et de trouver un angle qui m’intéressait au sein de ce sujet plus large (2006). J’ai trouvé ce premier article de
          Nelson lors de notre deuxième tour de lectures (puisque c’était annoté dans le texte de Elola et Oskoz, 2017). Le concept de la synaesthesia,
          que le sens peut être construit à travers plusieurs modes sémiotiques, m’a beaucoup intéressé. L’auteur de ce texte, Nelson, se réfère au processus de combinaison de
          ces modalités (visuelles, orales et textuelles) comme «&nbsp;braiding&nbsp;» ou encore «&nbsp;orchestration&nbsp;». J’ai trouvé ce concept
          abstrait et je ne comprenais pas comment il pouvait vraiment tester les habilités de ces étudiants à faire ceci dans leurs récits numériques.
          En fait, Nelson s’est appuyé sur les conversations transcrites qu’il a eues avec ses étudiants. Ses données étaient donc qualificatifs et non
          quantitatifs. Ma réaction première était que cette méthodologie manquait un peu d’impartialité scientifique. Par contre, en poursuivant ma recherche
          j’ai compris que les analyses qualificatives existent dans le domaine de didactique en L2.
        </p> <p> Ce texte de Nelson traite abondamment du concept des récits numériques et c’est cet article qui m’a vraiment motivé à en savoir plus sur ce sujet.
           Dans cette étude, les étudiants ont utilisé deux logiciels pour créer leurs récits numériques : Adobe Photoshop et Adobe Premiere. Je n’avais jamais
            entendu parler d’un exercice pareil dans une salle de classe. L’activité en soi-même m’a semblé pertinent pour les élèves, dans le sens qu’ils
            devaient traiter d’un sujet qui relie les thèmes du langage, de la culture et de l’identité. Je trouve ça très à propos pour un cours de langue.
            Tous les élèves ont choisi de discuter de leurs identités culturelles et linguistiques personnelles. Par contre, du point de vue actionnelle
            (qui n'est pas mentionnée dans cet article), il me semble que Nelson a manqué l'occasion parfaite de créer un scénario pédagogique ancrée
            dans le réel. Une fois leurs projets terminés, la seule personne qui a vu leurs récits numériques était le professeur. À mon avis, Nelson aurait
            dû trouver une manière de partager ce projet avec d'autres personnes à l'extérieur de la salle de classe, soit en organisant un visionnement
            avec un public ou en publiant ses récits numériques en ligne sur le Web 2.0. </p>
        <p>Pour moi, en faisant ma recherche, j'ai voulu répondre à plusieurs questions : </p>
        <ul>
        <li>Quelles pourraient être les applications du récit numérique en salle de classe L2?</li>
        <li>Quelles avantages le récit numérique présente-il en apprentissage d'une L2?</li>
        <li>Quelles sont les avantages de l'aspect social ou interactionnelle en récit numérique?</li>
        <li>Comment pourrait-on manier le scénario pédagogique de façon à encourager le plus de collaboration possible dans la création de récit numérique?</li>
        <li>Quel est le rôle de l'identité personnelle et de la construction de celle-ci dans la création de récit numérique?</li>
      </ul>
  <hr />
        <p> <h3> Le scénario pédagogique 🤔 </h3> </p>
        <p>	L’article «&nbsp;Scénario pédagogique et efficacité des instruments de communication&nbsp;» par Stéphane Simonian compare deux scénarii pédagogiques (2008).
          Son étude indique que le scénario pédagogique a un impact sur l’usage des outils mis à la disposition des étudiants. Les étudiants engagés dans un
          scénario collaboratif ont utilisés des outils du site comme le clavardage, les discussions, le courriel, qui est en ligne, etc. tandis que les étudiants
          engagés dans un scénario plus individuelle les utilisent moins. Cet article m’a appris alors que le scénario pédagogique affecte la manière et la fréquence
          avec laquelle les étudiants utilisent les affordances qui leur sont offertes. Je crois que ceci pourrait être un aspect intéressant à explorer en
          récits numériques. Par exemple, si les étudiants ont plus de temps pour concevoir leurs récits, vont-ils utiliser plus de modes dans leurs créations
          (images, gif, vidéos, sons, musique, éléments graphiques)? Y aurait-il une différence entre l’utilisation de ces différentes affordances selon le nombre
          d’étudiants par groupe (3 ou 4 vs. individuelle)?
        </p>
      <hr />
        <p> <h3> L'aspect collaboratif 🙋 + 🙋‍♂️</h3> </p>
        <p> La collaboration est un aspect qui reçoit beaucoup d’emphase dans l’approche interactionnelle d’Ollivier et l’approche socioconstructiviste.
          La tâche ancrée dans la vie réelle, selon Ollivier, est un projet qui ce fait dans un espace social qui a plusieurs contraintes. Pour moi, en lisant
           plusieurs articles sur le récit numérique alors, cette idée d’interaction et de collaboration m’a paru un élément crucial. Une étape dans la création
           du RN qui peut encourager la collaboration est la révision par les pairs. Selon Penloup, les «&nbsp;pratiques collaboratives ... permettent l'acquisition
           de savoirs d'ordre métalinguistique et métacognitif, et favorisent le développement de compétences langagières et rédactionelles : les élèves acquièrent
           par un oral de coopération ... des connaissances sur l'acte de parler, de convaincre, de négocier&nbsp;» (2012, p. 135). Sur ce point, plusieurs études
            que j’ai lues ont inclus un processus de révision par les pairs. Par exemple... </p>
        <p> Tel que mentionné auparavant, la lacune de l’étude de Nelson pour moi était le fait que les étudiants n’ont pas eu la chance de faire visionner leurs
          récits numériques à un public plus large que leur professeur. En contraste avec cette étude par contre, j’ai lu l’article de Castaneda, “&nbsp;‘I am proud
           that I did it and it’s a piece of me’: Digital Storytelling in the Foreign Language Classroom” (2013). Les participants dans cette étude ont présenté leurs
           récits narratifs à leurs parents, leurs professeurs, leurs camarades de classe et des membres de la communauté à la fin du projet. Il s’agissait d’un groupe
            de douze élèves du niveau secondaire qui prenaient un cours d’espagnol L2. À mon avis, le fait d’avoir cette “première” a dû rendre la tâche plus réelle
            et donc plus motivant pour ces apprenants. D’ailleurs, Castaneda a commenté dans sa conclusion : “students practiced language in a purposeful content
            that will help them attain competency for real-world communication” (2013). Cet article a aussi renforcé la dimension personnelle du récit narratif
            pour moi. Les étudiants ont choisi de raconter des histoires extrêmement personnelles. Par exemple, un élève a choisi de traiter du décès de sa nièce.
        </p>
      <hr />
        <p> <h3> La synaethesia des différents modes 👩‍💻</h3> </p>
        <p> 	En visionnant les différents exemples de récits numériques, j’ai pu vraiment comprendre les différentes modalités du RN. J’ai pu visualiser le genre
          de créations possibles à partir de cet outil et quelles étaient ses limitations. Je pouvais voir en quoi la narration, les images, la musique, les sons,
          le texte et l’animation travaillent ensemble dans un récit numérique afin de convier le sens au public. J’ai trouvé
           <a href="https://sites.google.com/a/asu.edu/digitalstoriesforl2french/home">le site web de Rebecca Henriksen</a>, une professeure de français à Arizona
           State University. Selon elle, les récits numériques sont un outil formidable pour l'apprentissage en salle de classe français L2. Elle a aussi posté
           plusieurs récits créées par ses étudiants dans ses cours. C’est d’ailleurs sur son site que j’ai trouvé le récit numérique «&nbsp;L’adoption de Zelda&nbsp;»
           par Jasmine Kemper 🐶 🐾 , que j’ai choisi de montrer dans ma présentation le 1er février 2019. J’ai pensé que ce récit servirait bien d'exemple de ce qui peut-être
          fait avec l’outil du récit numérique en salle de classe français L2.  </p>
          <br><br/>
          <center> <iframe width="560" height="315" src="https://www.youtube.com/embed/S88ZHI9uFM8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> </center>
          <br><br/>
          <p> Selon Nelson, la synthaethesia est un phénomène important en création de récit numérique. Il commente sur ce sujet en disant :
            "the potential for authorship, authentic expression and an authorial voice, lies not so much in the words, images, sounds, etc., that we employ,
            but rather <i>in between</i> them, in the designing of relations of meaning that bind semiotic modes together" (Nelson, 2006). Je crois que la synaesthesia
            pourrait être un phénomène très difficile à expliquer aux apprenants. Je crois que ce genre de connaissance se transmettrait mieux si l'apprenant
            le faisait lui-même au lieu d'écouter une explication du professeur, d'où l'utilité du récit numérique pour transmettre ces littératies numériques.</p>
        <p> Cette synthésia peut aussi être utile dans la mesure qu'elle peut aider les étudiants à combler des manques d'informations qu'ils ont dans leur L2.
          Castañeda commente : "The pictures, music, and transitions in a digital story assist students in telling their story by addressing limitations students
          may have in the language" (2013, p.54). Je me suis posé la question par contre : est-ce une bonne chose que les apprenants disposent d'autres modes de communication
          que leur L2 pour raconter leur histoire dans un récit numérique? Ne pourrait-on pas voir ceci comme un négatif, puisque ça veut dire que les apprenants
          ne doivent pas chercher et faire un effort à bien s'exprimer dans leur L2? </p>
        <hr />
        <p> <h3> L'effet du scénario pédagogique sur la collaboration 👯‍ </h3> </p>
        <p> 	Pendant que je cherchais des exemple de récits numériques sur le web, j’ai trouvé un
          <a href="https://www.metmuseum.org/metmedia/video/metkids-made-by-kids/digital-storytelling-lab-2016">clip vidéo</a> où plusieurs enfants créent des récits
          numériques au Met Museum à New York. Les enfants travaillent en petits groupes pour créer des histoires à propos d’un objet dans le musée à travers des
          récits numériques. À la minute 1:40, un des participants, Jayden, discute des difficultés qu’il a éprové à collaborer avec les autres membres de son groupe.
          Il dit : “Some of the hard things, I think, of writing a story are, some times it could be hard to collaborate because one person wants this and
          the other person wants that.” Le potentiel pour la collaboration m’a frappé dans cet instant.
          Dans l’étude de Nelson mentionné auparavant, les élèves ont travaillé séparément afin de chacun créer leur propre récit numérique. Je crois que le sujet
          a marché très bien pour eux, puisqu’ils étaient un peu plus âgés. Par contre, les enfants au MET avaient un sujet différent qui convenait mieux à leur âge
          et leurs habilités. Le scénario pédagogique était aussi très différent dans la mesure où ils travaillaient en groupes et non individuellement. Il n’est
          pas clair d’après ce court extrait comment les enfants ont créé leur récits numériques ou avec quel logiciel. Il semble qu’ils auraient utilisé Twine pour
          une première version interactive de l'histoire. Par contre, on les montre aussi sur des ordinateurs à créer des images de leurs objets.
          De cet extrait par contre, j’en tire que le scénario pédagogique peut facilement être modifié pour encourager plus de collaboration dans la salle de classe.
         </p>
         <br><br/>
        <p style="text-align:center;"> <img src="/projet/twine.png" width="50%" height="auto"> </p>
         <br><br/>
         <p> Autre que le sujet du RN, le fait de faire travailler les étudiants individuellement ou en groupe peut aussi avoir un effet sur la collaboration. Puisque
           le récit numérique raconte souvent une histoire personnelle, elle se prête bien à un travail individuel. C’est-à-dire, que chaque élève raconte sa propre
           histoire à travers sa propre récit numérique. Par contre, plusieurs études déjà menées ont choisi de mettre les étudiants dans des petits groupes de trois
          ou quatre afin d’avoir un esprit de groupe et peut-être justement pour les exposer à un dynamique de groupe. Dans l’étude de Torres et al., des étudiants
          d’université en cours d’anglais ont été mis dans des groupes de trois personnes (2012). Ensembles, ils ont créer des courtes histoires de fiction. Ces
          histoires devaient nécessairement inclure du dialogue et de la narration. Certains éléments du dialogue étaient requis, par exemple une phrase de drague
          et des salutations. L’étude de Torres et al. est aussi unique du fait qu’elle est très détaillée du niveau du scénario pédagogique. Les activités de chaque
          atelier sont décrites. La création du RN n’arrive que dans le septième et avant-dernière atelier que les étudiants commencent à manier la technologie.
          On pourrait en déduire alors, que dans ce scénario pédagogique, la création du RN n’est en fait que l’aboutissement du processus d’apprentissage sur ce
          sujet spécifique. C’est à travers le récit numérique que les étudiants doivent démontrer ce qu’ils ont appris de cette unité du cours.
        </p>
      <hr />
        <p> <h3> L'aspect personnel</h3> </p>
        <p>   L’article de Castañeda a été une des premières que j’ai lu quand j’ai commencé à faire des recherches sur le récit numérique. J’ai été frappé par
          les sujets très personnels et émouvants qu’on choisi les étudiants. Par exemple, un élève a choisi de traiter du décès de sa nièce. L’idée de témoigner
          très publiquement d’un sujet si personnel m’a beaucoup intéressée et j’ai voulu trouver d’autres articles qui relevaient de ce point. C’était donc parfait
          qu’à ce moment je trouva la thèse de maîtrise de Lemelin intitulé  « De la relation d’aide à la rencontre créative : le récit numérique comme outil de
          reconnaissance mutuelle » (2012). Il s’agit d’un des seuls articles en français que j’ai réussi à trouver sur le sujet.  </p>
        <p> Selon elle, le récit numérique est un outil qui permet aux gens de groupes marginalisés de partager leurs histoires (Lemelin, 2012).  Elle dit que
          le récit numérique leur permet de « produire leur propre vidéo afin de répondre à l’exclusion dont ils étaient victimes dans les médias traditionnels »
          (Lemelin, 2012). Cette citation m’a beaucoup touchée. Je l'ai d'ailleurs inclut dans ma présentation en cours le 1er février, 2019. Ça m’a aussi motivé
          à faire des recherches sur Internet pour trouver des exemples de récits narratifs qui racontent des histoires de groupes marginalisés. </p>
        <p> Parmi mes préférées, j’ai retenu <a href="http://www.sfu.ca/agingwell/elders-digital-story.html">"Dance Me Home"</a>💃 ,
          <a href="http://www.vimeo.com/44167191">"This Is What A Lesbian Looks Like"</a> 🏳️‍🌈 ,<a href="http://www.youtube.com/watch?v=gOsMn22xroo">"Progression"</a> 📖 ,
          <a href="http://www.youtube.com/watch?v=VPrnDD51Y5s">"Sofas"</a> 🛋 , et <a href="http://www.youtube.com/watch?v=u2msaK_puH8">"Being A Girl Amongst the Boys"</a> 👧 .
          Malheureusement je n’ai pas trouvé beaucoup de récits numériques en français. Les histoires que j'ai pu trouver par contre, listées ci-dessus, m'ont
          beaucoup touchées. Je me suis dit en écoutant ces récits numériques que les étudiants au niveau secondaire pourraient beaucoup bénéficier de cet exercice.
          Je crois que comme adolescent on se sent parfois très différent des autres et l’acte de raconter sa propre histoire pourrait justement avoir un effet
          d’<i>empowerment</i> comme le dit Lemelin (2012). Elle dit d’ailleurs que «&nbsp;les promesses du récit numérique sont multiple est variées : pouvoir se
          représenter soi-même, rendre visible des populations ou individus marginalisés ou encore démocratiser le savoir en permettant de faire entendre des voix
          diversifiées dans l’espace public&nbsp;» (Lemelin, 2012, p.57).
         </p>
         <p> L’étude de Hall se rapporte justement à ce point (2011). Elle suit trois adolescentes noires d’école intermédiaire qui créent un récit numérique pour
           un cours d’écriture. Pour ces trois, Yolanda, Kay et Sophie, leur histoire est un commentaire sur leurs expériences de vie comme jeunes femmes de couleur
           et du monde qui les entoure.  Hall dit : “As these students’ history, culture, and stories become recognized as legitimate texts, their identities as
          black students in a white educational setting are also validated. Thus, students’ identity construction in the classroom is interconnected with their
          author function” (2011).  </p>
          <hr />
        <p> <h3> La motivation ⚡ </h3> </p>
        <p>Plusieurs études ont suggéré que la création de récits numériques est un projet motivant pour les étudiants (Atkas & Yurt, 2017 ; Hung et al,
           2012 ; Liu et al., 2018 ; Yang & Wu, 2012). Plusieurs raisons pour cela ont été proposées. Premièrement, le fait que ce soit un scénario
           authentique qui repose que les expériences personnelles de l’étudiant peut avoir un effet positif sur la valeur que l’étudiant attribue à la tâche
           (Yang & Wu, 2012). Deuxièmement, le fait de créer son propre récit numérique, à apprendre à manier les outils technologiques, de bien synthétiser
           la matière apprise ou à communiquer effectivement son histoire peut avoir des effets positifs sur le jugement personnel de l’apprenant sur son
           efficacité. Dernièrement, la présence du numérique en salle de classe peut en soi-même avoir un effet motivant sur l’étudiant.  </p>

         <p>  Je crois qu’il y a un élément qui serait important à approfondir dans des recherches futurs sur la motivation et le récit numérique. Il serait
           intéressant de traiter de l’effet du partage ou de la publication du récit numérique sur la motivation des étudiants. Je serais apte à penser que
           les étudiants seraient plus motivés si on leur disait dès le début qu’ils auraient l’occasion de partager leurs créations après, que ce soit sur
           le Web 2.0 ou devant un public. L’étude de Liu et al. par exemple a été fait avec des étudiants de sixième année au Taiwan (2018). Dans ce scénario
           pédagogique, les étudiants n’ont présenté leurs projets qu’à leur professeur une fois terminé. De plus, ils ne racontaient pas une histoire
           personnelle (justement, peut-être à cause de leur jeune âge). Cette étude a trouvé que la motivation des étudiants dans le groupe expérimental
           a connu une augmentation, mais plutôt dans la catégorie “extrinsic goal orientation” et non dans la catégorie “intrinsic goal orientation”.
           Liu et al. discutent de ces résultats et expliquent : “The reason might be that online platforms that afford the opportunity for interaction
           and collaboration among students can lead to the motivation to perform better and look better in their peers’ eyes” (2018). C’est justement
           cette idée ou justification que je crois mérite d’être exploré dans de futurs études. </p>

           <p> Je crois qu’il y a aussi quelque chose à être dit de la motivation qui résulte du fait de raconter une histoire personnelle. Dans l’étude de Liu
             et al., les étudiants ont créés des récits numériques à la fin de chaque unité afin de démontrer leurs connaissances et habilités avec le
             vocabulaire qu'ils venaient d'apprendre (2018). Ces histoires étaient pûrement des fictions, et non des histoires réels qui reflètaient de leur vécu.
             Les auteurs mentionnent dans leur conclusion : “the learning topics and materials were the same as those used in conventional teaching. These topics
             and materials would not profoundly enhance the students’ intrinsic interest in the learning activity” (2018). Je crois que cet aspect du personnel
             est très important en ce qui concerne la motivation en création de récit numérique. </p>
            <br><br/>
            <p style="text-align:center;"> <img src="/projet/RN.png" width="50%" height="auto"> </p>
           <hr />
        <p> <h3> Quelques lacunes de ma recherche </h3> </p>
        <p> La grande majorité des études que j’ai réussi à trouver avait l’anglais comme langue cible (Hall, 2011 ; Liu et al., 2018 ; Nelson, 2006 ; Torres et al.,
           2012 ; Verdugo & Belmonte, 2007 ; Yang & Wu, 2012). La deuxième langue cible la plus populaire était l’espagnol (Castañeda, 2013). Par contre, je n'ai
           pas trouvé énormément d’études sur les récits numériques qui avaient le français comme langue cible, sauf celui de Lemelin, 2012.
           La plupart de ces études se sont fait dans un contexte d’apprentissage de L2. Tout de même, il serait pertinent de trouver (ou faire, s’ils n’existent
           pas déjà) des études sur l’effet du récit numérique en salle de classe français L2.  </p>
           <hr />
        <p> <h3> Conclusion </h3> </p>
        <p> De nombreux articles dans ce cours ont souligné pour moi l’importance d’inclure le numérique en salle de classe français L2. Je considère le récit
          numérique comme étant l’aboutissement de cette recherche, puisqu’il s’agit d’une manière viable d’intégrer le numérique en salle de classe pour développer
          des habilités langagières et les littératies numériques. Mon but de carrière est de devenir enseignante de français et d’histoire au niveau secondaire
          un jour. Je crois que cette activité pourrait bien s’intégrer dans un plan de cours, comme projet qui prendrait plusieurs semaines à accomplir. D’ailleurs,
          c’est la lacune qui est soulevée dans plusieurs études : la création du récit numérique prend énormément de temps. D’après ce que j’ai lu, je pense que ça
          pourrait quand même servir, mais il faudrait se limiter à ce que ce soit seulement fait une fois, à la fin du cours peut-être. Comme ça, les étudiants
          pourraient montrer les connaissances qu’ils ont acquises jusque là dans le cours, sans déboucher sur d’autres activités pédagogiques. En cours d’histoire
          immersion française au niveau secondaire, je verrai bien les étudiants en petits groupes de 3 à 4 qui doivent résumer un évènement historique canadienne
          spécifique dans un récit numérique. En cours de langue française dans un contexte d’immersion française par contre, je pense qu’il vaudrait mieux les
          inviter à raconter une histoire personnelle à travers leurs récits numériques. On pourrait, par exemple, leur demander de raconter un souvenir qu’ils
          ont de l’école primaire, que ce soit drôle, heureux, triste, etc. En somme, je crois que les connaissances que j’ai acquises dans le FRAN 502 pourront
          me servir dans mon rôle futur d’enseignante d’immersion française.
         </p>
         <br><br/>
         <p> <b> Merci d'avoir lu mon rapport!</b> 😇 </p>
         <p> <b>3392 mots </b> </p>
         <hr />
        <p> <h3> Bibliographie </h3> </p>
        <p> Aktas, E. & Yurt, S. U. (2017). Effects of Digital Story on Academic Achievement, Learning Motivation and Retention among University Students. <i>International Journal of Higher Learning</i>, 6 (1), 180-196.  </p>
        <p> Castañeda, M.E. (2013). “I am proud that I did it and it’s a piece of me”: Digital Storytelling in the Foreign Language Classroom. <i>CALICO Journal</i>, 30 (1), 44-62. </p>
        <p> Elola, I. & Oskoz, A. (2017). Writing in the 21st Century Social Tools in the L2 Classroom: Literacies, Genres and Writing Practices. <i>Journal of Second Language Writing</i>, 36, 52-60. </p>
        <p> Hall, Ted. (2011). Designing From Their Own Social Worlds: The Digital Story of Three African American Young Women. <i>English Teaching: Practice and Critique</i>, 10 (1), 7-20. </p>
        <p> Hung, C.-M., Hwang, G.J., & Huang, I. (2012). A Project-based Digital Storytelling Approach for Improving Students’ Learning Motivation, Problem-Solving Competence and Learning Achievement. <i>Educational Technology & Society</i>, 15 (4), 368-379. </p>
        <p> Lemelin, R. (2012). De la relation d’aide à la rencontre créative : le récit numérique comme outil de reconnaissance mutuelle. (Thèse de maîtrise). Université de Montréal, Montréal, Canada. </p>
        <p> Liu, K.-P., Tai, S.-J. D., & Liu, C.-C. (2018). Enhancing Language Learning Through Creation: The Effect of Digital Storytelling on Student Learning Motivation and Performance in a School English Course. <i>Educational Technology Research and Development</i>, 66 (4), 913-935. </p>
        <p> Nelson, M.E. (2006). Mode, Meaning, and synaesthesia in multimedia L2 writing. <i>Language Learning and Technology</i>, 10 (2), 56-76. </p>
        <p> Penloup, M. (2012). Littératies numériques : quels enjeux pour la didactique de l’écriture-lecture ? <i>Recherches en didactique des langues et des cultures</i>, 9 (2), 129-140. </p>
        <p> Simonian, S. (2008). Scénario pédagogique et efficacité des instruments de communication. <i>Revue internationale des technologies en pédagogie universitaire</i>, 5 (3), 36-50. </p>
        <p> Torres, A. R., Ponce, E. P. & Pastor, M. D. G. (2012). Digital Storytelling as a Pedagogical Tool within a Didactic Sequence in Foreign Language Teaching. <i>Digital Education Review</i>, 22, 1-18. </p>
        <p> Verdugo, D.R. & Belmonte, I. A. (2007). Using Digital Stories to improve listening comprehension with Spanish young learners of English. <i>Language Learning and Technology</i>, 11 (1), 87-101. </p>
        <p> Yang, Y.-T. C. & Wu, W.-C. I. (2012). Digital Storytelling for Enhancing Student Academic Achievement, Critical Thinking, and Learning Motivation: A Year-Long Experimental Study. <i>Computers & Education</i>, 59 (2), 339-352. </p>
      </div>
    </div>
  </body>
</html>
