<!Doctype html>
<html>
  <body>
    <div class="page-acceil">
      <div class="title-header">
        <p class="titre">Le rapport FRAN 502 de Pamela Fraser</p>
        <p class="sous-titre">L'histoire numérique comme outil pédagogique</p>
      </div>
      <div class="main-content">
        <p> Le 1er février, nous avons fait un atelier sur Github. J'ai appris que ce site web a été créé pour faciliter la programmation. La plupart des utilisateurs Github utilise le site pour cette raison.</p>
      </div>
    </div>
  </body>
</html>
