<!Doctype html>
<html>
  <body>
    <div class="page-acceil">
      <div class="title-header">
        <p class="titre">Le rapport FRAN 502 de Pamela Fraser</p>
        <p class="sous-titre">Le récit numérique en salle de classe français L2</p>
      </div>
      <div class="main-content">
        <p>	En contraste avec cet exemple, les participants dans l’étude de Castaneda (2013) ont présenté leur récit narratifs à leur parents, professeurs, camarades de classe et membres de la communauté à la fin du projet. Ce groupe de douze élèves étudiaient dans un cours d’espagnol langue seconde dans leur école secondaire. Je crois que le fait d’avoir cette “première” a dû rendre la tâche plutôt réel et par conséquent, motivant pour ces apprenants d’espagnol. D’ailleurs, Castaneda a commenté dans sa conclusion : “students practiced language in a purposeful content that will help them attain competency for real-world communication” (2013). Cette article a aussi renforcé la dimension personnelle du récit narratif pour moi. Les étudiants ont choisi des thèmes qui leur étaient très chers. Par exemple, un élève a choisi de traiter du décès de sa nièce. </p>
      </div>
    </div>
  </body>
</html>
