<!Doctype html>
<html>
  <body>
    <div class="page-acceil">
      <div class="title-header">
        <p class="titre">Le projet final de Rachel</p>
        <p class="sous-titre">Le parcours de ma recherche sur l'apprentissage du vocabulaire en utilisant de la technologie</p>
      </div>
      <div class="main-content">
        <p>
          Cette page où vous êtes actuellement va présenter ce que j'ai appris dans le cours de FRAN 502 à l'Université de Victoria en Colombie-Britannique. Ce cours, intitulé <i>Studies in French Applied Linguistics</i>, porte sur la didactique des langues en contexte numérique.   
        </p>
      </div>
    </div>
  </body>
</html>
