<!Doctype html>
<html>
  <body>
    <div class="page-acceil">
      <div class="title-header">
        <p class="titre">Projet final de Rachel</p>
        <p class="sous-titre">Le parcours de ma recherche sur l'apprentissage du vocabulaire en utilisant de la technologie</p>
      </div>
      <p class="sous-titre">1ère entrée</p>
      <div class="main-content">
        <p>Bonjour à celles et à ceux qui sont arrivé/es à ce site web. Tel que vous avez déjà appris, je vais décrire, en forme de blogue, mon parcours d’apprentissage dans le cours de FRAN 502 à UVic. Durant trois mois, nous, les six étudiantes du cours, avons choisi un aspect de l’apprentissage qui servira d’un plus grand projet. La semaine dernière, nous avons présenté un aspect de notre sujet sous forme de présentation PowerPoint. Je vais essayer de le mettre en ligne bientôt. </p>
        <p>Au fur et à mesure de mes lectures, je suis arrivée au sujet de l’apprentissage du vocabulaire des apprenants de langue. Mais, cela a pris des lectures et de la recherche avant d’arriver à ce choix. Au début du cours, nous six devaient lire un article, écrire un compte rendu critique et commencer une discussion. Cette première entrée servira d’une brève description de mon article et de mes impressions par rapport à ce sujet.</p>
        <img src="/projet/blogueimage01.jpg">
        <p style="color:Tomato;">Nissen, E. (2011). Variations autour de la tâche dans l’enseignement / apprentissage des langues aujourd’hui. <i>Alsic,14.</i> Récupéré de <a href="http://journals.openedition.org/alsic/2344">http://journals.openedition.org/alsic/2344</a> </p>
      </div>
      <p class="sous-titre">2ème entrée</p>
      </div>
    </div>
  </body>
</html>
