<!Doctype html>
<html>
  <head><meta charset = "utf-8"> <link rel ="stylesheet" href = "main.css"> <link href="https://fonts.googleapis.com/css?family=Sarabun" rel="stylesheet">
 </head>
    <body>
      <div class="page-acceil">
        <div class="title-header">
        <p class="sandratitre">Sandra</p>
        <p class="sandrasous-titre">Rapport d'étonnement</p>
        <p class="titre">👩🏻‍💻 👩🏻‍🏫</p>
      </div>
      <div class="sandramain-content">
<p><h2> Introduction </h2></<p>
<p> <font size="7">🌐 🖥️ + 📚 🏫 = ? </font> </p>
<p> Bonjour ! 🙋🏻 Je m’appelle Sandra Justice et je suis étudiante à la maîtrise dans le département de français à l’université de Victoria. Je me suis inscrite au cours Fran 502 (<i><a href="https://www.uvic.ca/humanities/french/graduate/courses/502-syllabus-201901.pdf">Apprentissage et enseignement du français en contexte numérique</i></a>) parce que je suis (et serai toujours) une apprenante du français 👩🏻‍💻 et je m'intéresse à l'enseignement du français 👩🏻‍🏫. Je m'attendais à ce que le cours exposerait une variété de façons d'incorporer la technologie dans la salle de classe pour faciliter l'apprentissage. Maintenant, je suis presque à la fin du cours et non seulement j'ai gagné de nouvelles perspectives, mais aussi j'ai développé de nouvelles compétences. Les billets qui suivent vous donneront un aperçu de mon processus d’apprentissage dans ce cours.</p>

<br><br/>
      <p><h2> La tâche ancrée dans la vie réelle </h2></p>
      <p> <font size="7">👩🏻‍💻&rarr;🌐&rarr;🌎 </font> </p>
<p>Le premier article que j’ai lu pour ce cours s’appelle « Vers une <b>approche interactionnelle</b> en didactique des langues et une extension du domaine de la <b>tâche</b> – Les atouts du web 2.0 » de Christian Ollivier.</p>
<p style="text-align:center;"> <img src="/projet/styling/img/3taches.png" width="50%" height="auto"> </p>
<br><br/>
<p><p style="text-align:center;"> <img src="/projet/styling/img/doubleenonciation.png" width="50%" height="auto"> </p></p>

      <p><a href="http://www.christianollivier.eu">Le site de Christian Ollivier</a></p>
      <br><br/>
  <p><h2>Bibliographie</h2></p>
      </div>
    </div>
  </body>
</html>
