<!Doctype html>
<html>
  <body>
    <div class="page-acceil">
      <div class="title-header">
        <p class="titre">Sandra</p>
        <p class="sous-titre">Rapport d'étonnement</p>
        <p class="titre">👩🏻‍💻 👩🏻‍🏫</p>
      </div>
      <div class="main-content">
<p><h1> Introduction </h1></p>
<p> <font size="7">🌐 🖥️ + 📚 🏫 = ? </font> </p>
<p> Bonjour ! 🙋🏻 Je m’appelle Sandra Justice et je suis étudiante à la maîtrise dans le département de français à l’université de Victoria. Je me suis inscrite au cours Fran 502 (<i><a href="https://www.uvic.ca/humanities/french/graduate/courses/502-syllabus-201901.pdf">Apprentissage et enseignement du français en contexte numérique</i></a>) parce que je suis (et serai toujours) une apprenante du français 👩🏻‍💻 et je m'intéresse à l'enseignement du français 👩🏻‍🏫. Les billets qui suivent vous donneront un aperçu de mon processus d’apprentissage dans ce cours. </p>
      <p><h1> La tâche ancrée dans la vie réelle </h1></p>
      <p> <font size="7">👩🏻‍💻&rarr;🌐&rarr;🌎 </font> </p>
      <p><a href="http://www.christianollivier.eu">Le site de Christian Ollivier</a></p>
      </div>
    </div>
  </body>
</html>
