body {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 20px;
  color: #333;
}

.side-nav {
 width: 300px;
 height: 100%;
 position: fixed;
 z-index: 999;
 overflow-x: hidden;
 background: #005493;
 opacity: 1;
 text-align: center;
 -webkit-transition: all cubic-bezier(0.21, 0.65, 1, 1) 0.5s;
 transition: all cubic-bezier(0.21, 0.65, 1, 1) 0.5s;
}

.side-nav.ng-hide {
 width: 40px !important;
 display: block !important;
}


.menu-toggle {
 font-size: 35px;
 z-index: 1000;
 position: relative;
 margin-top: 5px;
 margin-right: 10px;
 color: #fff !important;
}

#main-menu {
  margin-top: 8vh;
}

.nav-comp {
  display: inline !important;
}

.menu-item {
  -webkit-transition: all linear 0.2s;
  opacity: 1;
  white-space: nowrap;
  margin-left: -60px;
  display: block;
  color: #fff !important;
}

.menu-item:hover {
  color: #fff !important;
  text-decoration: none;
}

.menu-wrapper:hover {
  background: #F5AA1C;
}

menu {
  padding-top: 2vh;
  padding-bottom: 2vh;
  margin: 0;
}

.menu-item.ng-hide {
 opacity: 0;
}

#menu-logo {
  height: 150px;
  width: auto;
}

.modal {
  text-align: center;
}


@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

#home-anchor {
    -webkit-transition: opacity linear 0.2s;
    margin-top: 3vh;
    margin-bottom: 5vh;
}

#home-anchor:hover {
    transform: scale(1.025);
}

.title-header {
  text-align: right;
}

.titre {
  font-size: 72px;
  font-weight: bold;
  color: #C63527;
}

.sous-titre {
  font-size: 30px;
  font-style: italic;
  color: #939196;
  margin-top: -3vh
}
.fade-anim {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 1;
}
.fade-anim.ng-enter,
.fade-anim.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.fade-anim.ng-enter {
    opacity: 0;
}
.fade-anim.ng-enter-active {
    opacity: 1;
}
.fade-anim.ng-leave {
    opacity: 1;
}
.fade-anim.ng-leave-active {
    opacity: 0;
}
.sandratitre {
  font-family: 'Sarabun', sans-serif;
  font-size: 72px;font-weight: bold;
  color: #000080;}

.sandrasous-titre {
  font-family: 'Sarabun', sans-serif;
  font-size: 30px;
  font-style: italic;
  color: #939196;
  margin-top: -3vh
}

.sandramain-content { font-family: 'Sarabun', sans-serif }

.pamelatitre {
  font-family: 'Abril Fatface', cursive;
  font-size: 72px;
  color: #893569;
}

.pamelasous-titre {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 36px;
  color: #000000;
}

.pamelamain-content { font-family: 'Raleway', sans-serif; }

.rachelmain-content {font-family: 'Lato', sans-serif;}
.racheltitre {
  font-family: 'Lato', sans-serif;
  font-size: 72px;font-weight: bold;
  color:#4f4472;}

.rachelsous-titre {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-style: italic;
  color: #7668a5
}

.rachelcite {}
  *, *:before, *:after{
      margin: 0;
      padding: 0;
      direction: ltr;
      box-sizing: border-box;
  }
  html{
    font-size: 16px;
    line-height: 1.8;
  }
  .ArticleCopy{
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    width: 80%;
    margin:0 auto;
    border: 1px solid #ddd;
    padding: 3rem;
  }
  .ArticleCopy p {
      text-rendering: optimizeLegibility;
  }
  .ArticleCopy blockquote {
      border-radius: 3px;
      position: relative;  /*  <--- */
      font-style: italic;
      text-align: center;
      padding: 1rem 1.2rem;
      width: 80%;  /* create space for the quotes */
      color: #4a4a4a;
      margin: 1rem auto 2rem;
      color: #4a4a4a;
      background: #E8E8E8;
  }
  /* -- create the quotation marks -- */
  .ArticleCopy blockquote:before,
  .ArticleCopy blockquote:after{
      font-family: FontAwesome;
      position: absolute;
      /* -- inside the relative position of blockquote -- */
      top: 13px;
      color: #E8E8E8;
      font-size: 34px;
  }
  .ArticleCopy blockquote:before{
      content: "\f10d";
      margin-right: 13px;
      right: 100%;
  }
  .ArticleCopy blockquote:after{
      content: "\f10e";
      margin-left: 13px;
      left: 100%;
  }

  hr.style12 {
  	height: 6px;
  	background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
      border: 0;
  }
  hr.style18:before {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: #8c8b8b;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}



.francescatitre {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 72px;font-weight: bold;
  color: #C63527;}

.francescasous-titre {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 30px;
  font-style: italic;
  color: #939196;
  margin-top: -3vh
}

.francescamain-content { font-family: 'Alegreya Sans', sans-serif }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.Ry_img {
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  box-shadow: 10px 10px 5px grey;
}

.Ry_li {
  margin-left: 5%;
}

.Ry_cit {
  font-style: italic;
  margin-left: 5%;
  margin-right: 10%;
}

blockquote{
  margin-left: 5%;
  margin-right: 10%;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #78C0A8 ;
  border-radius: 8px;
  box-shadow: 10px 10px 5px grey;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#78C0A8;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

.sticky-nav {
  width: 600px;
  height: 75px;
  background: #005493;
  margin: auto;
  border-radius: 25px;
}

.sticky{
  position: fixed !important;
  top: 20px;
  overflow: hidden;
  z-index: 10;
  left: 27%;
}


.nav-icon {
  display: inline;
  margin-left: 15px;
  margin-right: 15px;
}

.nav-block {
  margin-left: 60px;
}

.icon {
  height: 56px;
  width: 56px ;
  text-align: center;
  background-color: white;
  border-radius: 50%;
  border: 5px solid;
  font-size: 25px;
  margin-top: 7px;
  line-height: 1.85;
}

.icon:hover {
  height: 62px;
  width: 62px ;
}

#it-link {
  color: #30ad71;
  border-color: #30ad71;
}

#ai-link {
  color: #9b41ad;
  border-color: #9b41ad;
}

#pa-link {
  color: #d13251;
  border-color: #d13251;
}

#dd-link {
  color: #c96004;
  border-color: #c96004;
}

#hci-link {
  color: #08d1cd;
  border-color: #08d1cd;
}

.titre-anna {
  color: #0a1a33 !important;
}

.post-title{
  font-size: 40px;
  font-weight: bold;
  margin-top: 4vh;
  margin-bottom: 2vh;
  color: #0a1a33;
}

.aside-title {
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  margin-top: 4vh;
  margin-bottom: 2vh;
  color: #0a1a33
}

.content-anna p {
  margin-top: 4vh;
}

.aside {
  border: 2px solid #0a1a33;
  background: rgba(167, 181, 204, 0.5);
  border-radius: 25px;
  width: 90%;
  margin: auto;
  padding: 20px 20px 20px 20px;
  text-align: center;
  font-size: 18px;
  margin-top: 7vh;
  margin-bottom: 7vh;
}


.aside-content {
  text-align: left;
}

#topic-list p {
  margin-left: 20px;
  margin-top: -2px;
}

.ref-section {
  font-size: 14px;
  color: #595858;
  margin-top: 20px;
}

.ref-item p{
  margin-top: -7px;
}

.ref-item{
  margin-top: -5px;
}

.integrated-image {
  height: auto;
  text-align: center;
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.oversize {
  width: 90%;
  height: auto;
}

.sheep-pic {
  height: 300px;
  width: auto;
}

.carousel {
  margin: auto;
}

.slick-arrow::before {
  color: #0a1a33;
}

#mindmap {
  width: 100%;
  height: auto;
}

#topic-list {
  margin-top: 3vh;
  margin-bottom: 2vh;
}

#markov_prop {
  font-weight: bold;
  color:#0a1a33;
}

.modal-container {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  white-space: nowrap;
  line-height: 1.5
}

.modal-container a {
  color: #0a1a33 !important;
  font-weight: bold;
  font-size: 16px;
}

#markov-modal {
  background-color: rgba(48, 173, 113, 0.6);
  position: absolute;
  left: -145px;
  top: 1060vh;
}

#gendermag-modal {
  background-color: rgba(8, 209, 205, 0.7);
  position:absolute;
  left: -145px;
  top: 2200vh;
}

#nn-modal {
  background-color: rgba(155, 65, 173, 0.7);
  position:absolute;
  right: -145px;
  top: 2700vh;
}

#iterative-modal {
  background-color: rgba(209, 50, 81, 0.7);
  position:absolute;
  right: -145px;
  top: 1700vh;
}


.modal-content {
  width: 100%;
  padding: 20px 20px 20px 20px;
  box-shadow: none !important;
  border: none !important;
  font-size: 14px;
}

.modal-title {
  background-color: rgba(10, 26, 51, 0.6);
  color: white;
  width: 100%;
  font-weight: bold;
  font-size: 30px;
  padding: 10px 10px 10px 10px;
  border-radius: 25px;
}

.fa-times {
  color: #0a1a33;
  font-size: 30px;
  margin-left: -15px;
  margin-top: -15px
}

.modal-vid iframe {
  width: 100%;
}

.modal-vid {
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.quote {
  border-left: 5px solid;
  margin-top: 10%;
  font-style: italic;
  color: #0a1a33;
  font-size: 16px;
  margin-left: 30px;
}

.quote p {
  margin-left: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.quote div {
  margin-left: 5%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dd-quote {
  border-color: #c96004;
}

.pa-quote {
  border-color: #d13251;
}

.it-quote {
  border-color:#30ad71;
}

.ai-quote {
  border-color: #9b41ad;
}

.hci-quote {
  border-color: #08d1cd;
}

.contact {
  margin-top: 10%;
  margin-bottom: 7%;
  font-size: 25px;
  width: 100%;
  text-align: center;
}

.contact span {
  margin-left: 5%;
}

.contact a {
  color: #0a1a33 !important;
}
.sandrablockquote{
  margin-left: 5%;
  margin-right: 10%;
  font-style:italic;
  color: ##E8E8E8;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #000080 ;
  border-radius: 8px;
  box-shadow: 10px 10px 5px grey;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
}

.sandrablockquote::before{
  font-family: 'Sarabun', sans-serif;
  color:#000080;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

.sandrablockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

.sandrahangingindent {
  padding-left: 22px ;
  text-indent: -22px ;
}
